@{
    ViewBag.Title = "Bienvenidos a Santa Ana a un Click";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <p class="lead">Mis Cursos</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <div class="card text-center">
                <img src="https://cdn-icons-png.freepik.com/256/13576/13576532.png?ga=GA1.1.188557394.1738110781&semt=ais_incoming"
                     class="card-img-top mx-auto mt-3"
                     alt="..."
                     style="width: 120px; height: 120px; object-fit: contain;" />
                <div class="card-body">
                    <h5 class="card-title">Matemáticas</h5>
                    <p class="card-text">Nombre del Profesor.</p>
                    <a href="#" class="btn btn-primary">Ver Curso</a>
                </div>
            </div>
        </section>

        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <div class="card text-center">
                <img src="https://cdn-icons-png.freepik.com/256/6747/6747064.png?ga=GA1.1.188557394.1738110781&semt=ais_incoming"
                     class="card-img-top mx-auto mt-3"
                     alt="..."
                     style="width: 120px; height: 120px; object-fit: contain;" />
                <div class="card-body">
                    <h5 class="card-title">Ciencias</h5>
                    <p class="card-text">Nombre del Profesor.</p>
                    <a href="#" class="btn btn-primary">Ver Curso</a>
                </div>
            </div>
        </section>

        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <div class="card text-center">
                <img src="https://cdn-icons-png.freepik.com/256/4277/4277040.png?ga=GA1.1.188557394.1738110781&semt=ais_incoming"
                     class="card-img-top mx-auto mt-3"
                     alt="..."
                     style="width: 120px; height: 120px; object-fit: contain;" />
                <div class="card-body">
                    <h5 class="card-title">Estudios Sociales</h5>
                    <p class="card-text">Nombre del Profesor.</p>
                    <a href="#" class="btn btn-primary">Ver Curso</a>
                </div>
            </div>
        </section>
    </div>
</main>
